* {
  margin: 0;
  padding: 0;
  /* font-family: "PT Sans", sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
}

* h1 {
  font-size: 44px;
  font-weight: lighter;
}

* h2 {
  font-size: 38px;
  font-weight: lighter;
}

* p {
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.container header {
  /* grid-column: 1/8; */
  position: fixed;
  width: 100%;
  background: white;
  margin-top: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.container header .navdesktop {
  display: none;
}

.container header .logo {
  margin-left: 5%;
}

.container header .navmobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
}

.container header .navmobile .labelmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  cursor: pointer;
  background-color: gray;
}

.container header .navmobile .labelmenu #span1,
.container header .navmobile .labelmenu #span2,
.container header .navmobile .labelmenu #span3 {
  position: absolute;
  content: "";
  background: gray;
  width: 25px;
  height: 3px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.container header .navmobile .labelmenu #span1 {
  top: 20px;
}

.container header .navmobile .labelmenu #span2 {
  top: 25px;
}

.container header .navmobile .labelmenu #span3 {
  top: 30px;
}

.container header .navmobile #menu:checked ~ .labelmenu #span1 {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.container header .navmobile #menu:checked ~ .labelmenu #span2 {
  opacity: 0;
}

.container header .navmobile #menu:checked ~ .labelmenu #span3 {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
  top: 20px;
}

.container header .navmobile ul {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 40px;
}

.container header .navmobile input:checked ~ ul {
  display: block;
  background-color: #0000ef;
  text-align: left;
}

.container header .navmobile input {
  display: none;
}

.container header .navmobile li {
  display: block;
  margin: 20px;
}

.container header .navmobile li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
}

.container header .navmobile a:hover {
  text-decoration: line-through;
  color: #00f3bb;
}

.container header .navmobile a:active {
  color: gray;
}

.container header .navmobile input:checked ~ a {
  display: none;
}

.container header .logo {
  width: 30px;
  margin-right: 10px;
}

.container .description1 {
  margin-top: 120px;
  padding: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .description1 .world {
  text-decoration: line-through;
}

.container .description1 .descriptiondesktop {
  display: none;
}

.container .description1 .button1 {
  margin-top: 20px;
  padding: 12px 95px;
  background: #00f3bb;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: bold;
}

.container .description1 .button1:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #00f3bb), color-stop(70%, #0000ef));
  background-image: linear-gradient(90deg, #00f3bb 30%, #0000ef 70%);
  color: white;
}

.container .episodes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  background-color: #0000ef;
}

.container .episodes .triangle1 {
  bottom: 0;
  width: 100%;
  height: 40px;
}

.container .episodes h2 {
  margin: 10px;
  color: white;
}

.container .episodes .podcast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 5px;
  margin: 0 10px;
}

.container .episodes .podcast iframe {
  border: none;
  width: 100%;
  height: 232px;
}

.container .triangle2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 32%, 0 60%);
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 60%);
  height: 220px;
  background-color: #0000ef;
  margin-top: -1px;
}

.container .wcoding {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  position: relative;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wcoding .wcodingimg img {
  margin-top: -200px;
  width: 100%;
}

.container .guest {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

.container .guest .txtguest {
  margin: 10px;
}

.container .guest .imgguest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container .themes {
  margin-top: 50px;
  padding: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

.container .themes .imgthemes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 100px;
  text-align: center;
}

.container .themes .imgthemes p {
  font-size: 22px;
  font-weight: bolder;
}

.container .lastestnews {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  background-color: #0000ef;
}

.container .lastestnews .triangle3 {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.container .lastestnews .lastestnews_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .lastestnews .lastestnews_1 h2 {
  color: white;
  padding: 20px;
  text-align: center;
}

.container .lastestnews .lastestnews_1 .button2 {
  padding: 12px 50px;
  background: #00f3bb;
  border: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: bold;
}

.container .lastestnews .lastestnews_1 .button2:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #00f3bb), color-stop(70%, #0000ef));
  background-image: linear-gradient(90deg, #00f3bb 30%, #0000ef 70%);
  color: white;
}

.container footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  margin-top: 50px;
}

.container footer .footer_1 {
  text-align: center;
}

.container footer .footer_2 {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .container {
    margin: 0 auto;
    /* max-width: 1440px; */
    max-width: none;
  }
  .container h1 {
    font-size: 64px;
  }
  .container header .navmobile {
    display: none;
  }
  .container header .logo {
    width: 40px;
  }
  .container header .navdesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
    font-size: 24px;
  }
  .container header .navdesktop a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: 'IBM Plex Mono', monospace;
  }
  .container header .navdesktop :hover {
    text-decoration: line-through;
    color: #00f3bb;
  }
  .container header .navdesktop :active {
    color: gray;
  }
  .container .description1 {
    margin-left: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .description1 .point {
    color: #0000ef;
  }
  .container .description1 .descriptionmobile {
    display: none;
  }
  .container .description1 .descriptiondesktop {
    display: block;
    margin-right: 40%;
  }
  .container .description1 .button1 {
    padding: 12px 70px;
  }
  .container .episodes .triangle1 {
    height: 120px;
  }
  .container .episodes h2 {
    margin-left: 10%;
  }
  .container .episodes .podcast {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 40px;
  }
  .container .episodes .podcast iframe {
    width: 45%;
  }
  .container .triangle2 {
    width: 100%;
    height: 400px;
  }
  .container .wcoding {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -350px;
  }
  .container .wcoding .wcodingimg {
    width: 40%;
  }
  .container .wcoding .wcodingimg img {
    margin: 0;
    width: 80%;
  }
  .container .wcoding .wcodingtxt {
    width: 30%;
  }
  .container .guest .txtguest {
    margin-left: 10%;
  }
  .container .guest .imgguest {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .container .guest .imgguest img {
    width: 33.33333%;
  }
  .container .themes h2 {
    margin-left: 10%;
  }
  .container .themes .imgthemes {
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .lastestnews .triangle3 {
    height: 80px;
  }
  .container footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container footer .footer_1 {
    width: 30%;
  }
  .container footer .footer_2 {
    margin: 0;
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */